<header>
  <p>Click/tap on any image to open the lightbox. To close it click/tap then anywhere on the screen or use ESC. On the desktop you can use left and right to cycle through the photos.</p>
</header>

<section>
  <div class="asset mm" data-ratio="1.5" style="padding-bottom: 66.667%;">
    <%= image_tag('image_01_small.jpg', :'data-max-width' => 1800, :'data-max-height' => 1200, :'data-image-large' => image_path('image_01_large.jpg')) %>
  </div>
</section>

<section>
  <div class="asset" data-ratio="0.667" style="padding-bottom: 150%;">
    <%= image_tag('image_02_small.jpg', :'data-max-width' => 1200, :'data-max-height' => 1800, :'data-image-large' => image_path('image_02_large.jpg')) %>
  </div>
</section>

<section>
  <div class="asset" data-ratio="1.5" style="padding-bottom: 66.667%;">
    <%= image_tag('image_03_small.jpg', :'data-max-width' => 1800, :'data-max-height' => 1200, :'data-image-large' => image_path('image_03_large.jpg')) %>
  </div>
</section>

<section>
  <div class="asset" data-ratio="1.5" style="padding-bottom: 66.667%;">
    <%= image_tag('image_04_small.jpg', :'data-max-width' => 1800, :'data-max-height' => 1200, :'data-image-large' => image_path('image_04_large.jpg')) %>
  </div>
</section>

<section>
  <div class="asset" data-ratio="0.667" style="padding-bottom: 150%;">
    <%= image_tag('image_05_small.jpg', :'data-max-width' => 1200, :'data-max-height' => 1800, :'data-image-large' => image_path('image_05_large.jpg')) %>
  </div>
</section>

<footer>
  <p>See the code on <a href="https://github.com/recurving/lightbox">GitHub</a>. Made by <a href="https://twitter.com/recurving">@recurving</a>.</p>
</footer>